.container{
    height: 130px;
}

/* Fica no topo da div pai */

.flex.start{
    align-items: flex-start;
}

.flex-end{
    align-items: flex-end;
}

.center{
    align-items: center;
}

/* Estica pra prencher todo o container */
.stretch{
    align-items: stretch;
}


/* Independente do tamanho dos elementos ele vão sempre estar alinhado um com o outro. */

.baseline{
    align-items: baseline;
}
.baseline .item{
    flex: 1;
}

.baseline .item:first-child{
    padding-top: 20px;
}